<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Hello World! <%= 2+3 %>
    I am <%= name.toUpperCase() %>
    <% if(2 > 3) { %>
        <h2>2 is greater than 3</h2>
    <% } %>
    <% if (10 > 3) { %>
        <h2>10 is greater than 3</h2>
    <% } %>
</body>
</html>